*{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 20px;
}

.menu img {
    height: 80%;
    margin-left: 10%;
    margin-right: 15%;
}

#atual {
    color: #FF7B00;
}

.news{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}

.bloco1, .bloco2, .bloco3 {
    display: flex;
    gap: 30px;
    margin-bottom: 3%;
}

.news1 {
    width: 100%;
}

.news1 img {
    width: 100%;
}

.news2 {
    width: 50%;
}

.news2 img, .news2 p{
    width: 100%;
}

.news3{
    width: 33.33%;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 3%;
}

.news3 img {
    width: 100%;
}

.news p {
    font-size: 1.2vw;
}


/* footer */
.line {
    height: 10px;
    background-color: #FF7B00;
}

.footer_social {
    text-align: center;
    margin-bottom: 2%;
}

.footer_redes_sociais {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer_social h3 {
    color: #112244;
    padding-top: 2%;
}

.footer_social p {
    color: #112244;
}